dn: olcOverlay=refint,olcDatabase={2}hdb,cn=config
objectClass: olcOverlayConfig
objectClass: olcRefintConfig
olcOverlay: refint
olcRefintAttribute: memberof member manager owner
olcRefintNothing: cn=config
