dn: {{ openldap_domain }}
objectClass: top
objectClass: dcObject
objectclass: organization
o: {{ openldap_o }}
dc: {{ openldap_dc }}

dn: cn=Admins,{{ openldap_domain }}
objectClass: organizationalRole
objectClass: top
objectClass: posixGroup
cn: Admins
description: Directory Admins
gidNumber: 1001

dn: ou=Users,{{ openldap_domain }}
objectClass: organizationalUnit
ou: Users

dn: ou=Groups,{{ openldap_domain }}
objectClass: organizationalUnit
ou: Groups

